
body {
  margin: auto;
  height: auto;
  display: table;
  place-items:flex-start;
  background: #238;
  overflow:auto;
}


.cards {
  display:flex;
}
.card {
background: beige;
border-radius: 1.4rem;
padding: 1.2rem;
}
