<div class="card">
    <div class="card-header">
        <h5>Exchange Rate Converter</h5>
<div id="jumbotron" class="jumbotron" style="margin-top:-20px">
    
  </div>
  <div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-sm-15">
        <h1 style="align-content: left;"> </h1>
        <p class="lead" style="margin-left:280px; font-size:2rem">
      </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="currency">
     <select class="form-control" id="currency-one">
      <option value="AED">AED</option>
      <option value="ARS">ARS</option>
      <option value="AUD">AUD</option>
      <option value="BGN">BGN</option>
      <option value="BRL">BRL</option>
      <option value="GBP" selected>GBP</option>
      <option value="SGD">SGD</option>
      <option value="THB">THB</option>
      <option value="TRY">TRY</option>
      <option value="TWD">TWD</option>
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="UYU">UYU</option>
      <option value="VND">VND</option>
      <option value="ZAR">ZAR</option>
    </select>
  <br>
    <input type="number" id="amount-one"  value="1" style="width:100%" />
  </div>
</div>
<br>
<div class="swap-btn">
  <button type="button" id="swap" class="btn btn-outline-primary mx-auto d-block" >Swap <i class="fa fa-refresh" aria-hidden="true"></i></button>
</div>
<!-- Dynamic rate inserted in DOM based on exchange rate fetched from API -->
<div class="rate" id="rate"></div>
  <br>
  <div class="container">
    <div class="currency">
       <select class="form-control" id="currency-two">
        <option value="AED">AED</option>
        <option value="ARS">ARS</option>
        <option value="AUD">AUD</option>
        <option value="BGN">BGN</option>

        <option value="SEK">SEK</option>
        <option value="SGD">SGD</option>
        <option value="THB">THB</option>
        <option value="TRY">TRY</option>
        <option value="TWD">TWD</option>
        <option value="UAH">UAH</option>
        <option value="VES"selected >VES</option>
        <option value="UYU">UYU</option>
        <option value="VND">VND</option>
        <option value="ZAR">ZAR</option>
      </select>
    <br>
      <input type="number" id="amount-two" placeholder="0" value="1" style="width:100%" />
    </div>
</div>
</div>
</div>
